#footerContainer{
    width: 100%;
    height: 70px;
    padding: 30px 0px;
    background-color: #2d314e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT */
#leftContainer{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#logo{
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 16px;
}
#ulIcons{
    display: flex;
    gap: 15px;
    list-style: none;
}
#ulIcons li a:hover{
    border-bottom: 2px solid #31cc7e;
}


/* MIDDLE */
#middleContainer{
    width: 20%;
    height: 100%;
}
#middleContainer nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
#middleContainer nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;
}
#middleContainer nav ul li a{
    text-decoration: none;
    color: whitesmoke; 
    transition: 0.5s;
}
#middleContainer nav ul li a:hover{
    color: #31cc7e;
}


/* RIGHT */
#rightContainer{
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    color: whitesmoke;
}
#footerBnt{
    padding: 10px 0px;
    border-radius: 25px;
    font-size: 1em;
    border: none;
    background-image: linear-gradient(to right, #348F50, #56B4D3);
    width: 80%;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;
}
#footerBtn:hover{
    opacity: 0.8;
}

@media(max-width: 900px){
    #middleContainer{
        width: 25%;
    }

    #leftContainer{
        margin-left: 5%;
    }
    #rightContainer{
        margin-right: 5%;
    }
}

@media(max-width: 570px){
    #footerContainer{
        width: 100%;
        height: auto;
        padding: 30px 0px;
        background-color: #2d314e;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #leftContainer{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        height: auto;
    }

    #middleContainer{
        width: auto;
        height: auto;
        margin-top: 30px;
    }
    #middleContainer nav{
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        height: auto;
        text-align: center;
    }
    #middleContainer nav ul{
        gap: 10px;
        height: auto;
    }

    #rightContainer{
        margin-right: 0%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
    }
}